@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee&family=Eater&family=Fredericka+the+Great&family=IM+Fell+DW+Pica+SC&family=Love+Ya+Like+A+Sister&family=Luckiest+Guy&family=Markazi+Text&family=Niconne&family=Patrick+Hand+SC&family=Tajawal:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Universal Styles */
body{
    background-color: black;
    color: white;
}

h2.sectionHeader{
    color: red;
    font-size: 50px;
    font-weight: 300;
    line-height: 1.3em;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    margin-top: 40px;
    letter-spacing: 2px;
}

h2.sectionHeader:after{
    content: '';
    background: red;
    width: 30%;
    height: 1px;
    display: block;
    margin: 10px auto;
}

/* Header CSS */
#header{
    background-image: url("../Assets/Images/daniel_githiomi.jpg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.logo{
    padding: 10px;
}

img.webLogo{
    margin: 20px;
    padding: 10px;
}

div.navigation{
    margin-right: 10%;
}

div.navigation ul{
    display: flex;
    padding: 10px;
    justify-content: center;
    list-style: none;
}

div.navigation ul li{
    color: white;
    cursor: pointer;
}

div.navigation ul li:hover{
    transform: scale(1.07);
    transform: transform 300ms;
}

div.navigation ul li a{
    text-decoration: none;
    padding: 10px 30px;
    margin: 10px 40px;
    color: white;
    font-family: 'Love Ya Like A Sister', 'cursive';
    font-size: 17px;
}

div.navigation ul li a:hover{
    color: red;
}

#info{
    width: 60%;
    margin: 30px 100px;
    padding: 10px;
}

.namePreText{
    font-size: 20px;
}

p.name{
    color: red;
    letter-spacing: 1.5px;
    font-size: 70px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Love Ya Like A Sister', 'cursive';
}

p.name:hover{
    transform: scale(1.03);
    transition: all 0.5s ease-in-out;
}

div.shortIntro{
    margin: 5px;
    padding: 5px;
    font-size: 50px;
}

div.aboutMe{
    margin: 5px;
    padding: 5px;
    font-size: 45px;
    font-weight: bold;
}

p.aboutMeContent{
    width: 85%;
    font-size: 18px;
    color: #a7a7a7;
    padding: 10px;
    font-weight: normal;
}

p.aboutMeContent:hover{
    color: white;
    transform: scale(1.01);
    transform: transform 300ms;
    transition: all 0.5s ease-in-out;
}

/* Profile CSS */
#profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profileImage{
    width: 80%;
}

.profilePicture{
    margin: 40px;
    border-radius: 50%;
}

.profilePicture:hover{
    transform: scale(1.02);
    transform: transform 300ms;
    transition: all 0.5s ease-in-out;
}

.profileContent{
    margin: 30px;
}

.profileText{
    padding: 100px;
}

.myInfo{
    margin: 5px;
    color: rgba(218, 218, 218, 0.8);
    font-size: 19px;
}

.myInfo:hover{
    transform: scale(1.02);
    transform: transform 300ms;
    color: white;
    transition: all 0.5s ease-in-out;
}

div.documentButtons{
    padding: 20px 100px;
}

/* Footer CSS */
.footerBase{
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    /* Icons */
i.fa, .footerNameLink{
    text-decoration: none;
    padding: 10px;
    color: #b8b8b8;
    --fa-beat-fade-opacity: 0.7; 
    --fa-beat-fade-scale: 1.05;
    --fa-animation-duration: 2s;
}

i.fa:hover, .footerNameLink:hover{
    color: red;
    --fa-beat-fade-opacity: 0; 
    --fa-beat-fade-scale: 0;
    --fa-animation-duration: 0;
    transition: all 0.5s ease-in-out;
}